{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div id="search-form" style="text-align: center; padding-top: 15px;">
    <h3>Search Books</h3>
    <div style="padding-bottom: 15px;"> <!-- Book Name : <input id="inputBook" type="text" name="inputBook" required minlength="1"></div> -->
        <form id="search-form" name="search-form" action="" method="GET">
            {% csrf_token %} {{form}}
            <br>
            <button id="submit-search" type="submit" value="submit" class="btn btn-outline-primary">Find</button>
        </form>
        <!-- <button id="submit-search" class="btn btn-outline-primary">
        </button> -->
    </div>
</div>

<!-- <div class="container-fluid body">
</div> -->

<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <tbody class="body">
        </tbody>
      </table>

{% endblock %}