{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 10px; display: flex;">
    <div style="flex: 1; margin-right: 10px;">
        <label class="switch">
            <input type="checkbox" id="darkmode-switch">
            <span class="slider round"></span>
        </label>
    </div>
    <div style="flex: 8;">
        <span id="day-night-txt" class="text-bg-color">Day Mode</span>
    </div>
    <div style="flex: 16;"></div>
</div>

<div style="height: 30px;"></div>

<div id="accordion">
    <h3 class="accord-header">Activity</h3>
    <div class="text-bg-color">
        <p>
        -Studying at Faculty of Computer Science<br>
        -Playing games <br>
        -...
        </p>
    </div>
    <h3 class="accord-header">Organization/commitee experience</h3>
    <div class="text-bg-color">
        <p>
        -ghost member of DPM
        </p>
    </div>
    <h3 class="accord-header">Achievement</h3>
    <div class="text-bg-color">
        <p>
        -Graduated from Putra 1 elementary school with good enough score <br>
        -Graduated from Putra 1 middle school with good enough score <br>
        -Graduated from 8 high school with good enough score <br>
        -Got accepted at University of Indonesia, in Facuty of Computer Science <br>
        </p>
    </div>
</div>

{% endblock %}