{% extends 'navbar.html' %}
{% load static %}

{% block content %}

    <h2 style="text-align: center; padding-bottom: 30px;">"Halo, apa kabar?"</h2>

    <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 20px;">
        <form action="{% url 'HomePage:add_status' %}" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div style = "text-align:center; padding-top: 20px;">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div style="text-align: center">
        {% for post in status %}
        <div style="text-align: center">{{post.status}}</div>
        <div style="text-align: center">{{post.time}}</div>
        {% endfor %}
    </div>

{% endblock %}